html, body{ padding: 0; margin: 0; }
#nav{
	position: static;
	top: 0;
	left: 0;
	width: 100%;
	background: rgb(70,70,70);
}
#nav ul{
	padding: 0;
	margin: 0;
	list-style: none;
	margin-left: 0px;
}
#nav ul li{
	display: inline;
	padding: 10px;
	line-height: 50px;
	border-right: rgba(255,255,255,0.55) solid 1px;
}
#nav ul li:hover{
	background: rgb(20,20,20);
}
#nav ul li:active{
	background: rgb(20,20,20);
}
#nav ul a{
	color: white;
	text-decoration: none;
}
#nav ul li:last-child{
	border-right: none;
}