/*
  Styles for the view.php page

  @author Michael Leung
*/
body{
  font-family:Helvetica,sans-serif;
  font-size:12px;
  color:#2b629f;
  padding:20px;
  background-color:#c7ddf5;
}
h1,h2{
  font-size:38px;
  margin:0;
  font-weight:bold;
  letter-spacing:-0.06em;
  border-bottom:1px solid #2b629f;
}
h2{
  font-size:21px;
  padding-top:10px;
}
li,p{ 
  line-height:17px;
  margin-bottom:6px;
}
a {
  color:#f34932;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

a:active{
  text-decoration:underline;
}
